PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://postgres:password@localhost:5432/synccoders?schema=public"
ACCESS_TOKEN_SECRET="sync_coders_super_secure_access_token_secret_key_2026_min_32_chars!"
REFRESH_TOKEN_SECRET="sync_coders_super_secure_refresh_token_secret_key_2026_min_32_chars!"
